.defaultBtn {
  color: black;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0.5em;
  font-size: 16px;
}
.defaultBtn:hover {
  box-shadow: 2px 2px 4px 0 grey;
}

.defaultBtn:active {
  box-shadow: inset 2px 2px 4px 0 grey;
}
