.hugeBtn {
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0.5em;
    font-size: 24px;
  }
  .hugeBtn:hover {
    box-shadow: 2px 2px 4px 0 grey;
  }
  
  .hugeBtn:active {
    box-shadow: inset 2px 2px 4px 0 grey;
  }
  